h1
{
  text-align: CENTER;
  font-family: fantasy; 
  border-radius: 29px 29px 29px 29px;
-moz-border-radius: 29px 29px 29px 29px;
-webkit-border-radius: 29px 29px 29px 29px;
border: 0px solid #000000;
background:#e8e3d8;
width: 1000px;
height: 50px;
margin: 0 auto;
}
#texto
{
    margin: 0 auto;
    border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border: 4px solid #424142;
    width: 500px;    
    margin-left: 650px;
    margin-top: 10px;
    padding: 10px;
    

}

#foot
{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}