

#central
{
    margin: 0 auto;
}

#izq
{
    float: left;   
}
#der
{
   margin-left: 450px;
   margin-top: 10px;
   padding: 5px;
}
#der1
{
   margin-left: 450px;
   margin-top: 6px; 
}
#der2
{
   margin-left: 450px;
   margin-top: 20px;
}

.pro
{
      margin-top: 10px;
}
#izqp
{
   float: left;
       
}
#derp
{
   margin-left: 500px; 
}

#contenedor
{
    width: 1000px;
    margin: 0 auto;
}

#izqp1
{
   float: left;
       
}
#derp1
{
   margin-left: 500px; 
}
#izqp2
{
   float: left;
       
}
#derp2
{
   margin-left: 500px; 
}

#fin
{
    margin-top: 15px;
/*    margin: 0 auto;*/
    
    
}

#foot
{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}