/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2015, 1:20:00 AM
    Author     : JUANCARLOS
*/

#tablacarrito
{
    border: none;
    width: 1000px;
}

tr{
    border: none;
}

td
{
    border: none;
}
table
{
    border: none;
}