.tg  {border-collapse:collapse;border-spacing:0;border-color:#999; margin: 0 auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-qj4c{background-color:#26ade4;color:#ffffff}
.tg .tg-nmn5{background-color:#d2e4fc;color:#000000;text-align:center}

h1
{
text-align: CENTER;
font-family: fantasy; 
border-radius: 29px 29px 29px 29px;
-moz-border-radius: 29px 29px 29px 29px;
-webkit-border-radius: 29px 29px 29px 29px;
border: 0px solid #000000;
background:#e8e3d8;
width: 1000px;
height: 50px;
margin: 0 auto;
}
table
{
    margin-left: 200px;
}

