h1
{
  text-align: CENTER;
  font-family: fantasy; 
  border-radius: 29px 29px 29px 29px;
-moz-border-radius: 29px 29px 29px 29px;
-webkit-border-radius: 29px 29px 29px 29px;
border: 0px solid #000000;
background:#e8e3d8;
width: 1000px;
height: 50px;
margin: 0 auto;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa; margin: 0 auto; width: 1000px; margin: 0 auto; text-align: center;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-38ze{background-color:#f38630}
.tg .tg-rvy5{font-weight:bold;background-color:#fcfbe3;color:#000000;text-align:center}
.tg .tg-1ttd{background-color:#f38630;font-weight:bold;color:#ffffff}
.tg .tg-2s9m{background-color:#fcfbe3}



#prod
{
    margin: 0 auto;
}

#foot
{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}